.EmailWrapper {
  width: 438px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 43px;
  background-color: #1d1d1d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Emailbar {
  width: 244px;
  height: 26px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.523%; /* 26.004px */
  background-color: #1d1d1d;
  border: none;
}

.pill {
  width: 137px;
  height: 62px;
  border-radius: 43px;
  background: #e3b748;
  top: 621px;
  left: 449px;
  border-radius: 43px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 162.523%;
}
